<%
var themeConfig =
{ archivesPageSize: 50,
  dateFormat: 'YYYY-MM-DD',
  footerInfo:
   'Powered by <a href="https://github.com/hve-notes/hve-notes" target="_blank" style="color: #1067de;">Hve Notes</a>',
  postPageSize: 10,
  postUrlFormat: 'SLUG',
  showFeatureImage: true,
  siteDescription: '温故而知新',
  siteName: 'Hve Notes',
  tagUrlFormat: 'SHORT_ID',
  themeName: 'notes',
  domain: '/Users/haoeryou/Documents/hve-notes/output' }
var site = {
 posts: [],
 tags: [
   { name: '年终总结',
     used: true,
     slug: 'nian-zhong-zong-jie',
     link: '/Users/haoeryou/Documents/hve-notes/output/tag/nian-zhong-zong-jie/index.html'
   },
   { name: 'Gridea',
     used: true,
     slug: 'nian-zhong-zong-jie',
     link: '/Users/haoeryou/Documents/hve-notes/output/tag/nian-zhong-zong-jie/index.html'
   },
   { name: '测试',
     used: true,
     slug: 'nian-zhong-zong-jie',
     link: '/Users/haoeryou/Documents/hve-notes/output/tag/nian-zhong-zong-jie/index.html'
   },
 ],
 utils: {},
 customConfig: {
   github: 'hello',
   twitter: 'twitter',
 },
}
%>

<div class="sm-12 md-4 col sidebar">
  <div class="paper info-container">
    <img src="<%= themeConfig.domain %>/images/avatar.png?v=<%= site.utils.now %>" class="no-responsive avatar">
    <div class="text-muted"><%- themeConfig.siteDescription %></div>
    <div class="social-container">
      <% ['github', 'twitter', 'weibo', 'zhihu', 'facebook'].forEach((item) => { %>
        <% if (site.customConfig[item]) { %>
          <a href="<%= site.customConfig[item] %>" target="_blank">
            <i class="fab fa-<%= item %>"></i>
          </a>
        <% } %>
      <% }) %>
    </div>
  </div>
  <div class="paper">
    <div class="sidebar-title">
      最新文章
    </div>
    <div class="row">
      <ul>
        <% site.posts.forEach(function(post) { %>
          <li>
            <a href="<%= post.link %>"><%= post.title %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  </div>
  <div class="paper">
    <div class="sidebar-title">
      标签列表
    </div>
    <div class="row">
      <% site.tags.forEach(function(tag, tagIndex) { %>
        <a href="<%= tag.link %>" class="badge <%= ['', 'secondary', 'success', 'warning', 'secondary'][Math.floor(Math.random()*5)] %>">
          <%= tag.name %>
        </a>
      <% }); %>
    </div>
  </div>
  <div class="paper">
    Powered by <a href="#">Crelo</a>
  </div>
</div>
